<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camera Selector</title>
</head>
<body>
    <h1>Camera Selector</h1>
    <form action="/video_feed" method="get" target="_blank">
        <label for="camera_id">Select Camera ID:</label>
        <select name="id" id="camera_id">
            {% for camera_id in camera_ids %}
                <option value="{{ camera_id }}">{{ camera_id }}</option>
            {% endfor %}
        </select>

        <br>

        <label for="resolution">Select Resolution:</label>
        <select name="res" id="resolution">
            <option value="640x480">640x480</option>
            <option value="960x720">960x720</option>
            <option value="640x360">640x360</option>
            <option value="1280x720">1280x720</option>
        </select>

        <br>

        <input type="submit" value="Open Video Feed">



    </form>

    <h1>Camera Reset</h1>
    <form action="/stop_video_feed" method="get" target="_blank">
        <label for="camera_id">Select Camera ID:</label>
        <select name="id" id="camera_id">
            {% for camera_id in camera_ids %}
                <option value="{{ camera_id }}">{{ camera_id }}</option>
            {% endfor %}
        </select>

        <br>

        <input type="submit" value="Stop Video Feed">



    </form>
</body>
</html>
